/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
/* Typography */
body{
    font-family: sans-serif;
    background-color: rgb(102, 51, 3);
}

/* Utilities */
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}

/* Layout */
.container{
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header{
    color: white;
    padding: 20px o;
    border-bottom: 1px solid white;
}
#logo{
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.logo-text{
        vertical-align: middle;
}
/* MAIN */


/* FOOTER */